body {
	margin: 0;
	background-color: #e9f6ff;
}

/* PURPLE BAR, LOGO, COVER PHOTO */

header {
	padding: 0.5em;
	height: 2.25em;
	background-color: #501f84; /* this is NBN purple */
	display: block;
	width: 100%;
	/*margin: 0 auto;*/
}

#logo {
	width: 2.25em;
}

.cover-img{
	width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}

/* HEADLINE, SUBHEAD, BYLINE AND HORIZONTAL RULE */

#hed-dek {
	margin-top: 5em;
	width: 100%;
	border-bottom: 3px solid #FFC1C1;
}

.intro {
	font-family: "Roboto Condensed";
	color: #FFC1C1;
	text-transform: uppercase;
	font-size: 2.3em;
	line-height: 1.2em;
}

h1 {
	font-size: 4.5em;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 0.7em;
}

h2 {
	font-size: 1.1em;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 500;
	font-size: 1.5em;
}

h3 {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

hr {
	width: 15em;
	margin-bottom: 3em;
}

/* BODY */

#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	overflow: hidden;
	position: relative;
}

#sidebar {
	margin-top: 2em;
	margin-left: 5px;
	float: left;
	width: 30%;
	/*display: block;*/
}

#story-container {
	float: right;
	width: 65%;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 100;
}

.body-text {
	width: 90%;
	font-family: "Georgia", serif;
	font-size: 1.1em;
	line-height: 1.8em;
	border-bottom: 1px solid #a3a3a3;
	padding: 1em 0;
}

#intro {
	padding: 0;
}

.pink {
	background-color: #FFC1C1;
	padding: 0 0.35em;
}

.center {
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
}

.side-piece {
	font-family: "Proxima Nova", serif;
	font-size: 1em;
	padding: 5px;
	margin: 0.5em 0;
	position: relative;
}

.selected {
	background-color: #FFC1C1;
}

.subhead {
	font-weight: bold;
	font-family: "Roboto Condensed", sans-serif;
	color: #FFC1C1;
	text-transform: uppercase;
	font-size: 1.5em;
}

#what-can-we-do {
	border: 0;
}

a {
	text-decoration: none;
	font-family: "Proxima Nova", serif;
	color: #333;
}

a:hover{
	text-decoration: none;
}

/* IMAGES */

.inline-img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.inline-img-lg {
	width: 65%;
	max-width: 850px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

figcaption {
	color: #aaaaaa;
	font-weight: 300;
	font-size: 0.9em;
	font-family: "Proxima Nova", sans-serif;
	line-height: 1.25em;
}

figure {
	margin-top: 3em;
	margin-bottom: 3em;
}

/* QUOTES */

.quote {
	display: block;
	width: 300px;
	color: #555555;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.5em;
	display: block;
	font-family: "Proxima Nova", sans-serif;
	margin-bottom: 40px;
	margin-top: 40px;
}

.right{
	float: right;
	margin-right: 20%;
	margin-left: 2em;
	padding-left: 2em;
	border-left: 1px solid #aaaaaa;
	border-top: none;
	border-bottom: none;
	border-right: none;
}

.left {
	float: left;
	text-align: right;
	margin-right: 2em;
	margin-left: 20%;
	padding-right: 2em;
	border-right: 1px solid #aaaaaa;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

/* FOOTER BAR, FOOTER TEXT */

footer {
	padding-right: 0.5em;
	height: 5em;
	background-color: #501f84; /* this is NBN purple */
	display: block;
	width: 100%;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer p {
	color: #ffffff;
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
	font-size: 0.9em;
	font-family: "Proxima Nova", sans-serif;
	line-height: 0.9em;
} 

footer p a {
	color: #ffffff;
}



/*media queries*/
@media screen and (max-width: 600px) {
	#hed-dek{
		width: 100%;
	}

	h1{
		width: 85% auto 0 auto;
		font-size: 3em;
	}

	h2{
		width: 85%;
		font-size: 1.2em;
	}

	.body-text {
		width: 80%;
	}

	.inline-img, .inline-img-lg, .center {
		width: 100%;
	}

	.quote {
		display: block;
		width: 50%;
		color: #555555;
		font-size: 1em;
		line-height: 1.5em;
		font-family: sans-serif;
		text-align: center;
	}
	
	.right {
		border-top: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
		border-right: none;
		border-left: none;
		padding-right: 1.3em;
		margin-left: 1em;
		margin-top: 1em;
	}

	.left {
		border-top: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
		border-right: none;
		border-left: none;
		padding-left: 1.3em;
		margin-left: 4em;
		margin-top: 1em;
	}

	footer {
		padding-right: 0.5em;
		height: 5em;
		background-color: #501f84; /* this is NBN purple */
		display: block;
		width: 100%;
		margin: 0 auto;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	footer p {
		width: 80%;

	}
}